.auth-layout-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/imgs/auth-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.log-form {
  background: transparent;
  color: white;
  border-radius: 10px;
  padding: 64px 42px;
  backdrop-filter: blur(30px);
  box-shadow: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 460px;
  max-width: 460px;
  font-weight: 500;
}

.log-form span {
  font-size: 12px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: white;
  text-align: center;
}

.log-form input[type="text"],
.log-form input[type="password"] {
  background: transparent;
  border: 1px solid white;
  padding: 10px 18px;
  border-radius: 24px;
  width: 100%;
  color: white;
}

.log-form button {
  background: transparent;
  padding: 10px 18px;
  border-radius: 24px;
  width: 100%;
  color: white;
  font-weight: 600;
  border: 1px solid white;
}

.log-form button:hover {
  background-color: white;
  color: black;
}
